#firstDiv {
    background-color: lightcoral;
}
#secondDiv{
    background-color: lightblue;
}
#thirdDiv{
    background-color: lightgreen;
}

.bold{
    font-weight: 900;
}

.firstSpan{
    color: red;
}

.secondSpan{
    color: green;

}

.parent {
    font-size: 25px;
    color: red !important;
}

.odd {
    background-color: lightgray;
}

.even {
    background-color: lightpink;
    color: green;
}


#fisrtDiv{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mamaAreMere{

}

avion {
    background-color: lightcoral;
    color: blue;
    font-size: 30px;
}

/**/
/*div p{
    color: red;
}*/

div > p {
    color: red;
}

/*div + p {
    color: blue;
}*/

div ~ p {
    color: blue;
}

a {
    text-decoration: none;
    color:red;
}

a:hover {
    color: orange;
}

a:visited {
    color:violet;
}

a:active {
    color: black;
}

input.keepFocus:focus{
    background-color: lightyellow;
}

p.intro::first-letter{
    font-size: 200%;
}

::selection {
    color:red;
    background-color: lightgoldenrodyellow;
}

.intro {
    text-align: justify;
    text-decoration: none;
    /*text-transform: capitalize;*/
    font-variant: small-caps;
    text-indent: 25px;
}

.textFormat {
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-style: italic;*/
}

ul{
    list-style-type: square;
    list-style-position: inside;
}

ul li{
    display: inline;    
}

ol{
    list-style-type: lower-alpha;
}
/*
span{
    display: block;
}*/

/*div{
    display: inline;
}*/

.textData{
    display: none;
}

.textData2{
    visibility: hidden;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
    margin: 10px 5px 7px 15px;
}

td{
    height: 30px;
    text-align: center;
    vertical-align: top;
    padding: 5px;    
}

td:hover{
    background-color: lightcoral;
}

.floatingDiv{
    /*float: left;*/
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border: 3px solid black;
}

.left{
    float: left;
    padding: 15px;
    margin: 5px;
    width: 300px;
    height: 400px;
    border: 1px solid lightblue;
    border-radius: 10px;
}

.right{
    float: right;
    background-image: url("../docs/lovesea.jpg");
}

.right:hover{
    background-color: lightcyan;
}

.rightBody{
    background-image: url("../docs/lovesea.jpg");
    background-size: 100%;
}

img.first{
    border: 1px solid black;
    width: 100%;
    opacity: 0.5;
    filter:alpha(opacity=0.5);
}

div.over{
    width: 200px;
    overflow: visible;
    border: 2px dashed black;
    text-overflow: ellipsis;
}

div.over:hover {
    overflow: visible;
}

div.static{
    border: 5px solid red;
    position: static;
    margin: 5px;
    padding: 10px;
    background-color: lightblue;
}

div.staticWithBorder{
    border: 30px solid lightgreen;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
}

/*div.relative{
    border: 5px solid black;
    position: relative;
    left: 50px;
    top: 10px;
}*/

div.asdf{
    border: 5px solid blue;
    height: 300px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 20;
    /*left: 10px;
    top: 40px;*/
}

div.relative {
    border: 5px solid black;
    position: relative;
    left: 25px;
    top: 30px;
    width: 80%;
}

div.absolute{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 100px;
    height: 50px;
    border: 4px solid brown;
    z-index: 1;
}

div.absolute2{
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: green;
    z-index: 10;
}