* {
    box-sizing: border-box;
}

.header{
    border: 1px solid black;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
/*
[class*="col-"]{
    padding: 5px;
}*/

[class*="col-"]{
    float: left;
    width: 100%;
    border: 1px solid red;
}

/*pentru tablete*/
@media only screen and (min-width:600px){
    
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-3 {
        width: 25%;
    }

    .col-t-6 {
        width: 50%;
    }

    .col-t-9 {
        width: 75%;
    }
    
    .col-t-12 {
        width: 100%;
    }
}

/*pentru desktop si laptop*/
@media only screen and (min-width:768px){
    
    .col-1 {
        width: 8.33%;
    }

    .col-3 {
        width: 25%;
    }

    .col-6 {
        width: 50%;
    }

    .col-9 {
        width: 75%;
    }
    
}

